body
{
	margin: 0;
	padding:0;
	text-align:center;
	background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(2.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

.cont
{
	margin-top: 100px;
	color: #fff;
	
	 
}

.container
{
	margin-top: 100px;
	color: #fff;
	transition: all 4s ease-in-out;
	 
}
.cont h1
{
	font-size: 36px;
	line-height: 10px;
	font-style: italic;

}

.container h1
{
	font-size: 36px;
	line-height: 10px;
	font-style: italic;
}
.container p,li
{
	font-size: 20px;
	padding-top: 20px;
	color: #50fa07;
}

.cont-para
{
	text-align: left;
	padding-left: 40%;
	font-family: serif;
	
}

form
{
	margin-top: 50px;
	transition: all 4s ease-in-out;
}

.form-control
{
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: #c30ffa;
	font-size: 18px;
	margin-bottom: 16px;

}

label
{
	color: #13f022;
}
input
{
	height: 45px;
}

form .submit
{
	background: #ff5722;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	width: 250px;
	margin-top: 20px;
	border-radius: 50%;

}

form .submit:hover
{
	background-color: #8df0d2;
	cursor: pointer;
	color: black;
}

form .form-control:hover
{
	background-color: #8df0d2;
	cursor: pointer;
}

button
{
	background: #ff5722;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	width: 250px;
	margin-top: 10px;
	border-radius: 50%;
	margin-bottom: 50px;
}
button:hover
{

	background-color: #8df0d2;
	cursor: pointer;
	color: black;
}